# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Docker
*.log

# Terraform plan
eks-plan
